<h2 class="text-center text-white">Registration-form</h2>

<div class="row">
    <div class="col-sm-2 col-md-3"></div>
    <div class="col-sm-8 col-md-6">
        <form class="w-75 d-block mx-auto">
            <div class="mb-3">
                <label for="un" class="form-label">UserName</label>
                <input type="text" class="form-control" id="un" >
              </div>
              <div class="mb-3">
                <label for="pw" class="form-label">Password</label>
                <input type="text" class="form-control" id="pw">
              </div>
              <div class="mb-3">
                <label for="dob" class="form-label">DateOfBirth</label>
                <input type="date" class="form-control" id="dob">
              </div>
              <div class="mb-3">
                <label for="email" class="form-label">Another label</label>
                <input type="email" class="form-control" id="email" >
              </div>
            <button class="btn btn-primary d-block mx-auto">Register</button>
        </form>
        
    </div>
    <div class="col-sm-2 col-md-3"></div>
</div>

